#header {
  width: 100%;
  background-color: #00bcd4;
}
.nav {
  height: 40px;
}
.nav ul {
  list-style-type: none;
  width: 100%;
  display: flex;
}
.nav ul li {
  flex-basis: 300px;
  height: 40px;
}
.nav ul li>a {
  font-weight: bold;
  font-size: 16px;
  font-weight: blod;
  height: 40px;
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
}
.nav ul li>a:hover {
  background: #666;
}
#nav1 {
  width: 100%;
  background-color: #242424;
}
.gowhere {
  height: 60px;
  display: flex;
  align-items: center;
}
.gowhere .currentlocation {
  height: 40px;
  width: 80px;
  display: inline-block;
  display: flex;
  align-items: center;
  font-family: "微软雅黑";
}
.gowhere .currentlocation span {
  display: inline-block;
}
.gowhere .currentlocation .icon1 {
  width: 27px;
  height: 34px;
  background-image: url("../img/6.png");
}
.gowhere .currentlocation>span:nth-child(2) {
  width: 40px;
  height: 40px;
  color: #fe0;
  font-size: 16px;
  font-weight: blod;
  margin-left: 3px;
}
.gowhere>a {
  font-family: "微软雅黑";
  display: inline-block;
  width: 60px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  font-weight: blod;
  text-align: center;
  line-height: 25px;
  margin-left: 10px;
}
.gowhere .defaultCity {
  background: #fe0;
  color: #242424;
  border: transparent;
}
.gowhere>a:not(.defaultCity):hover {
  border: 2px solid #fe0;
  color: #fe0;
}
#mtop {
  width: 100%;
  height: 620px;
  position: relative;
}
.mtopImg1 {
  width: 100%;
  height: 460px;
  background: url("../img/01.png") no-repeat;
  background-size: cover;
}
.mtopImg2 {
  width: 100%;
  height: 162px;
  background-color: #3dac67;
  position: absolute;
  top: 458px;
  left: 0px;
}
.mtopImg2 .goImg {
  height: 123px;
}
.mtopImg2 .goImg>div {
  float: left;
  width: 188px;
  height: 123px;
}
.mtopImg2 .goImg>div:not(:first-child) {
  margin-left: 5px;
}
.mtopImg2 .goImg .goImg1 {
  background: url("../img/go_01.jpg");
}
.mtopImg2 .goImg .goImg1 span {
  font-family: "微软雅黑";
  display: inline-block;
  width: 100%;
}
.mtopImg2 .goImg .goImg1>span:first-child {
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 26px;
  font-weight: blod;
  padding-left: 10px;
}
.mtopImg2 .goImg .goImg1>span:nth-child(2) {
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: blod;
  padding-left: 10px;
}
.mtopImg2 .goImg .goImg2 {
  background: url("../img/go_02.jpg");
}
.mtopImg2 .goImg .goImg2 span {
  font-family: "微软雅黑";
  display: inline-block;
  width: 100%;
}
.mtopImg2 .goImg .goImg2>span:first-child {
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 26px;
  font-weight: blod;
  padding-left: 10px;
}
.mtopImg2 .goImg .goImg2>span:nth-child(2) {
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: blod;
  padding-left: 10px;
}
.mtopImg2 .goImg .goImg3 {
  background: url("../img/go_03.jpg");
}
.mtopImg2 .goImg .goImg3 span {
  font-family: "微软雅黑";
  display: inline-block;
  width: 100%;
}
.mtopImg2 .goImg .goImg3>span:first-child {
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 26px;
  font-weight: blod;
  padding-left: 10px;
}
.mtopImg2 .goImg .goImg3>span:nth-child(2) {
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: blod;
  padding-left: 10px;
}
.mtopImg2 .goImg .goImg4 {
  background: url("../img/go_04.jpg");
}
.mtopImg2 .goImg .goImg4 span {
  font-family: "微软雅黑";
  display: inline-block;
  width: 100%;
}
.mtopImg2 .goImg .goImg4>span:first-child {
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 26px;
  font-weight: blod;
  padding-left: 10px;
}
.mtopImg2 .goImg .goImg4>span:nth-child(2) {
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: blod;
  padding-left: 10px;
}
.mtopImg2 .goImg .goImg5 {
  background: url("../img/go_05.jpg");
}
.mtopImg2 .goImg .goImg5 span {
  font-family: "微软雅黑";
  display: inline-block;
  width: 100%;
}
.mtopImg2 .goImg .goImg5>span:first-child {
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 26px;
  font-weight: blod;
  padding-left: 10px;
}
.mtopImg2 .goImg .goImg5>span:nth-child(2) {
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: blod;
  padding-left: 10px;
}
.dd {
  display: block;
  height: 5px;
  width: 100%;
}
.mboxbj {
  width: 100%;
  background: #815ad8;
  overflow: hidden;
  padding-bottom: 50px;
}
.mboxbj .titl {
  width: 980px;
  text-align: center;
  margin: 0px auto;
}
.mboxbj .titl .titl-img {
  width: 980px;
  height: 93px;
  margin-top: 60px;
}
.mboxbj .titl .titl-menu {
  width: 100%;
  border-radius: 5px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "微软雅黑";
  font-size: 20px;
  font-weight: blod;
  line-height: 50px;
  color: #4f1ebd;
  position: relative;
}
.mboxbj .titl .titl-menu .mm {
  height: 50px;
  width: 100%;
}
.mboxbj .titl .titl-menu .mm .go-group {
  width: 49%;
  display: inline-block;
  border: 1px solid #00f;
  border-radius: 10px 0px 0px 10px;
  border-right: transparent;
  background: #9369f0;
}
.mboxbj .titl .titl-menu .mm>.go-group:not(.select-color):hover {
  color: #fe0;
  background: #4f1ebd;
}
.mboxbj .titl .titl-menu .mm .free {
  width: 49%;
  display: inline-block;
  border: 1px solid #00f;
  border-radius: 0px 10px 10px 0px;
  border-left: transparent;
  background: #9369f0;
}
.mboxbj .titl .titl-menu .mm>.free:not(.select-color):hover {
  color: #fe0;
  background: #4f1ebd;
}
.mboxbj .titl .titl-menu .mm .select-color {
  color: #fe0;
  background: #4f1ebd;
}
.mboxbj .titl .titl-menu .titlmenu-flex {
  position: fixed;
  width: 980px;
  top: 0px;
  right: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}
.mboxbj .titl .titlImage1 {
  background-image: url("../img/tit_02.jpg");
}
.mboxbj .canping-info {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}
.mboxbj .canping-info .yy {
  display: inline-block;
  height: 280px;
  width: 24%;
}
.mboxbj .canping-info .yy a {
  width: 200px;
  height: 270px;
  display: block;
  text-decoration: none;
  color: #000;
  background: #fff;
  overflow: hidden;
  margin: 5px auto;
  border: 1px solid #848484;
}
.mboxbj .canping-info .yy a .canpinginfo1box {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
}
.mboxbj .canping-info .yy a .canpinginfo1box .canpinginfo1box-image {
  width: 100%;
  height: 150px;
  background: url("../img/10.jpg") no-repeat;
  background-size: cover;
  transition: all 1000ms linear;
}
.mboxbj .canping-info .yy a>.canpinginfo1box:hover .canpinginfo1box-image {
  transform: scale(1.05);
}
.mboxbj .canping-info .yy a .titltxt {
  height: 20px;
  width: 95%;
  font-family: "微软雅黑";
  font-size: 18px;
  font-weight: blod;
  line-height: 20px;
  margin: 10px auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mboxbj .canping-info .yy a .desc {
  height: 28px;
  width: 95%;
  font-family: "微软雅黑";
  font-size: 14px;
  line-height: 18px;
  margin: 0px auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mboxbj .canping-info .yy a .price {
  height: 50px;
  width: 95%;
  margin: 0px auto;
  position: relative;
}
.mboxbj .canping-info .yy a .price span {
  display: inline-block;
}
.mboxbj .canping-info .yy a .price>span:nth-of-type(1) {
  height: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: #ff3939;
}
.mboxbj .canping-info .yy a .price>span:nth-of-type(2) {
  height: 30px;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  color: #ff3939;
}
.mboxbj .canping-info .yy a .price>span:nth-of-type(3) {
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #ff3939;
}
.mboxbj .canping-info .yy a .price .del-txt {
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #666;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 25px;
}
.mboxbj .canping-info .yy a .price .pr-btn {
  text-align: center;
  width: 70px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  background: #ff3939;
  border-radius: 5px;
  font-family: "微软雅黑";
  font-size: 18px;
  font-weight: blod;
  color: #fff;
  position: absolute;
  right: 5px;
  top: 5px;
}
.mboxbj .canping-info .yy a .price .pr-btn:hover {
  background: #d82739;
  color: #ffe66c;
}
.mboxbj .canping-info .yy>a:hover {
  border: 1px solid #ff8442;
}
.mboxbj .last-line {
  width: 100%;
  height: 1px;
  border: 1px solid #000;
  background: #000;
  margin-top: 50px;
  position: relative;
}
.mboxbj .last-line .more {
  width: 130px;
  height: 35px;
  background: #412d6d;
  font-size: 20px;
  color: #fff;
  line-height: 35px;
  text-align: center;
  border-radius: 35px;
  position: absolute;
  top: -18px;
  left: calc(50% - 75px);
}
#titl2>.titlImage1 {
  background-image: url("../img/tit_08.jpg");
}
#titl3>.titl-menu {
  height: 70px;
  border-radius: 0px;
  background-color: #e2b800;
}
#titl3>.titl-menu .mm .go-group {
  background-color: #f7e16e;
  color: #9b800b;
  border-color: #9b800b;
}
#titl3>.titl-menu .mm .free {
  background-color: #f7e16e;
  color: #9b800b;
  border-color: #9b800b;
}
#titl3>.titl-menu .mm .select-color {
  background-color: #9b800b;
  color: #f7e16e;
}
#titl3>.titl-menu .mm>div:not(.select-color):hover {
  background-color: #9b800b;
  color: #f7e16e;
}
#titl3>.titlImage1 {
  background-image: url("../img/tit_04.jpg");
}
#titl3+div {
  background-color: #e2b800;
  padding-top: 10px;
  padding-bottom: 40px;
}
#box2 {
  background-color: #6633da;
  width: 100%;
  overflow: hidden;
}
#box2 .vip {
  width: 100%;
  margin-top: 60px;
}
#box2 .vip .vipNav {
  width: 100%;
  height: 190px;
  background: url("../img/freedom_hd.jpg");
}
#box2 .vip .vipmiddle {
  width: 100%;
  height: 100px;
  background: #4b1db4;
}
#box2 .vip .vipmiddle .vipmiddle-menu {
  width: 96%;
  height: 100px;
  background: #4574e8;
  border-radius: 10px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
#box2 .vip .vipmiddle .vipmiddle-menu .vipmenu-left {
  height: 100px;
  width: 50%;
  border-right: 3px dashed #6c36de;
  position: relative;
}
#box2 .vip .vipmiddle .vipmiddle-menu .vipmenu-right {
  width: 50%;
  height: 100px;
  position: relative;
}
#box2 .vip .vipmiddle .vipmiddle-menu .vipmenu-right .vipspan5 {
  display: inline-block;
  font-size: 20px;
  font-family: "微软雅黑";
  font-weight: bold;
  color: #ed522c;
}
#box2 .vip .vipmiddle .vipmiddle-menu .vipspan1 {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  font-size: 70px;
  font-family: "微软雅黑";
  font-weight: bold;
  color: #fff;
  margin-top: 15px;
  margin-left: 20px;
}
#box2 .vip .vipmiddle .vipmiddle-menu .vipspan2 {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  font-size: 28px;
  font-family: "微软雅黑";
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 15px;
  left: 70px;
}
#box2 .vip .vipmiddle .vipmiddle-menu .vipspan3 {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: 40px;
  font-family: "微软雅黑";
  font-weight: bold;
  color: #f9db00;
  position: absolute;
  top: 45px;
  left: 70px;
}
#box2 .vip .vipmiddle .vipmiddle-menu .vipbtn {
  display: inline-block;
  height: 70px;
  width: 70px;
  background-color: #f9db00;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: 18px;
}
#box2 .vip .vipmiddle .vipmiddle-menu .vipbtn span {
  display: inline-block;
  font-size: 20px;
  font-family: "微软雅黑";
  font-weight: bold;
  color: #ed522c;
}
#box2 .vip .vipmiddle .vipmiddle-menu .vipbtn>.vipspan4 {
  width: 40px;
  margin-top: 9px;
  margin-left: 6px;
}
#box2 .vip .vipmiddle .vipmiddle-menu .vipbtn>span:last-child {
  position: absolute;
  top: 23px;
  right: 4px;
}
#box2 .vip .vipbottom {
  height: 200px;
  background-image: url("../img/freedom_ft.jpg");
  overflow: hidden;
}
#box2 .vip .vipbottom p {
  margin-top: 22px;
  text-align: center;
  color: #fe0;
}
#box2 .vip .vipbottom p a {
  color: #4cdcf3;
}
#box2 #mbox4 {
  background-color: rgba(0,0,0,0);
}
#box2 #mbox4>#titl1>.titl-menu {
  height: 70px;
  border-radius: 0px;
  background-color: #f3a35e;
}
#box2 #mbox4>#titl1>.titl-menu .mm .go-group {
  background-color: #fec27c;
  color: #e76026;
  border-color: #e76026;
}
#box2 #mbox4>#titl1>.titl-menu .mm .free {
  background-color: #fec27c;
  color: #e76026;
  border-color: #e76026;
}
#box2 #mbox4>#titl1>.titl-menu .mm .select-color {
  background-color: #e76026;
  color: #f3e513;
}
#box2 #mbox4>#titl1>.titl-menu .mm>div:not(.select-color):hover {
  background-color: #e76026;
  color: #f3e513;
}
#box2 #mbox4>#titl1>.titlImage1 {
  background-image: url("../img/tit_06.jpg");
}
#box2 #mbox4>#titl1+.canping-info {
  background-color: #f3a35e;
  padding-bottom: 40px;
}
#box2 #mbox5 {
  background-color: rgba(0,0,0,0);
}
#box2 #mbox5>#titl2>.titl-menu {
  height: 70px;
  border-radius: 0px;
  background-color: #4677ce;
}
#box2 #mbox5>#titl2>.titl-menu>div {
  height: 50px;
  margin-top: 10px;
}
#box2 #mbox5>#titl2>.titl-menu .go-group {
  background-color: #fec27c;
  color: #e76026;
  border-color: #e76026;
}
#box2 #mbox5>#titl2>.titl-menu .free {
  background-color: #fec27c;
  color: #e76026;
  border-color: #e76026;
}
#box2 #mbox5>#titl2>.titl-menu .select-color {
  background-color: #e76026;
  color: #f3e513;
}
#box2 #mbox5>#titl2>.titl-menu>div:not(.select-color):hover {
  background-color: #e76026;
  color: #f3e513;
}
#box2 #mbox5>#titl2>.titlImage1 {
  background-image: url("../img/tit_09.jpg");
}
#box2 #mbox5>#titl2+.canping-info {
  background-color: #4677ce;
  padding-bottom: 40px;
}
#box2 #mbox6 {
  background-color: rgba(0,0,0,0);
}
#box2 #mbox6>#titl3>.titl-menu {
  height: 70px;
  border-radius: 0px;
  background-color: #4677ce;
}
#box2 #mbox6>#titl3>.titl-menu .mm {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box2 #mbox6>#titl3>.titl-menu .mm>div {
  width: 32%;
  height: 50px;
}
#box2 #mbox6>#titl3>.titl-menu .mm .visa {
  color: #13459b;
  border: 1px solid #13459b;
  border-radius: 5px 0px 0px 5px;
  border-right: transparent;
  background-color: #7bbdf7;
}
#box2 #mbox6>#titl3>.titl-menu .mm .wifi {
  color: #13459b;
  border: 1px solid #13459b;
  background-color: #7bbdf7;
}
#box2 #mbox6>#titl3>.titl-menu .mm .car {
  color: #13459b;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #13459b;
  border-left: transparent;
  background-color: #7bbdf7;
}
#box2 #mbox6>#titl3>.titl-menu .mm .visa-color {
  background-color: #13459b;
  color: #f4e513;
}
#box2 #mbox6>#titl3>.titl-menu .mm>div:not(.select-color):hover {
  background-color: #13459b;
  color: #f4e513;
}
#box2 #mbox6>#titl3>.titlImage1 {
  background-image: url("../img/tit_05.jpg");
}
#box2 #mbox6>#titl3+.canping-info {
  background-color: #4677ce;
  padding-bottom: 40px;
}
#boxshow {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(91,91,91,0.4);
  display: none;
  text-align: center;
}
#boxshow img {
  height: 100px;
  width: 100px;
  margin-top: 25px;
}
