#header
	width 100%
	background-color #00BCD4
.nav
	height 40px
	ul
		list-style-type none
		width 100%
		display flex
		li
			flex-basis 300px
			height 40px
			&>a
				font-weight bold
				font-size 16px
				font-weight blod
				height 40px
				width 100%
				display inline-block
				text-align center
				line-height 40px
				color #fff
				text-decoration none
			&>a:hover 
				background #666666
#nav1
	width 100%
	background-color #242424
.gowhere
	height 60px
	display flex
	align-items center
	.currentlocation
		height 40px
		width 80px
		display inline-block
		display flex
		align-items center
		font-family "微软雅黑"
		span
			display inline-block	
		.icon1
			width 27px
			height 34px
			background-image url('../img/6.png')
		&>span:nth-child(2)
			width 40px
			height 40px
			color #FFEE00
			font-size 16px
			font-weight blod
			margin-left 3px
	&>a
		font-family "微软雅黑"
		display inline-block
		width 60px
		height 25px
		border 2px solid #fff
		border-radius 25px
		color #fff
		font-size 16px
		font-weight blod
		text-align center
		line-height 25px
		margin-left 10px
	.defaultCity
		background #FFEE00
		color #242424
		border transparent	
	&>a:not(.defaultCity):hover
		border 2px solid #FFEE00
		color #FFEE00
#mtop
	width 100%
	height 620px
	position relative
.mtopImg1
	width 100%
	height 460px
	background url('../img/01.png') no-repeat
	background-size cover
.mtopImg2
	width 100%
	height 162px
	background-color #3DAC67
	position absolute
	top 458px
	left 0px
	.goImg
		height 123px
		&>div
			float left
			width 188px
			height 123px
		&>div:not(:first-child)
			margin-left 5px
		.goImg1
			background url('../img/go_01.jpg')
			span
				font-family "微软雅黑"
				display inline-block
				width 100%
			&>span:first-child
				height 30px
				line-height 30px
				color #fff
				font-size 26px
				font-weight blod
				padding-left 10px
			&>span:nth-child(2)
				height 20px
				line-height 20px
				color #fff
				font-size 18px
				font-weight blod
				padding-left 10px
		.goImg2
			background url('../img/go_02.jpg')
			span
				font-family "微软雅黑"
				display inline-block
				width 100%
			&>span:first-child
				height 30px
				line-height 30px
				color #fff
				font-size 26px
				font-weight blod
				padding-left 10px
			&>span:nth-child(2)
				height 20px
				line-height 20px
				color #fff
				font-size 18px
				font-weight blod
				padding-left 10px
		.goImg3
			background url('../img/go_03.jpg')
			span
				font-family "微软雅黑"
				display inline-block
				width 100%
			&>span:first-child
				height 30px
				line-height 30px
				color #fff
				font-size 26px
				font-weight blod
				padding-left 10px
			&>span:nth-child(2)
				height 20px
				line-height 20px
				color #fff
				font-size 18px
				font-weight blod
				padding-left 10px
		.goImg4
			background url('../img/go_04.jpg')
			span
				font-family "微软雅黑"
				display inline-block
				width 100%
			&>span:first-child
				height 30px
				line-height 30px
				color #fff
				font-size 26px
				font-weight blod
				padding-left 10px
			&>span:nth-child(2)
				height 20px
				line-height 20px
				color #fff
				font-size 18px
				font-weight blod
				padding-left 10px
		.goImg5
			background url('../img/go_05.jpg')
			span
				font-family "微软雅黑"
				display inline-block
				width 100%
			&>span:first-child
				height 30px
				line-height 30px
				color #fff
				font-size 26px
				font-weight blod
				padding-left 10px
			&>span:nth-child(2)
				height 20px
				line-height 20px
				color #fff
				font-size 18px
				font-weight blod
				padding-left 10px

.dd
	display block
	height 5px
	width 100%
.mboxbj
	width 100%
	background #815AD8
	overflow hidden
	padding-bottom 50px
	.titl
		width 980px
		text-align center
		margin 0px auto
		.titl-img
			width 980px
			height 93px
			margin-top 60px
		.titl-menu
			width 100%
			border-radius 5px
			height 50px
			text-align center
			display flex
			justify-content center
			align-items center
			font-family "微软雅黑"
			font-size 20px
			font-weight blod
			line-height 50px
			color #4F1EBD
			position relative
			.mm
				height 50px
				width 100%
				.go-group
					width 49%
					display inline-block
					border 1px solid blue
					border-radius:10px 0px 0px 10px ;
					border-right transparent
					background #9369F0
				&>.go-group:not(.select-color):hover
					color #FFEE00 
					background #4F1EBD
				.free
					width 49%
					display inline-block
					border 1px solid blue
					border-radius:0px 10px 10px 0px;
					border-left transparent
					background #9369F0
				&>.free:not(.select-color):hover
					color #FFEE00 
					background #4F1EBD
				.select-color
					color #FFEE00 
					background #4F1EBD
			.titlmenu-flex
				position fixed
				width 980px
				top 0px
				right 0px
				left 0px
				margin-left auto
				margin-right auto
				z-index 10
		.titlImage1
			background-image url('../img/tit_02.jpg')	
	.canping-info
		width 100%
		padding 10px 0px	
		display flex
		justify-content space-between
		flex-wrap wrap 
		align-content: flex-start 
		.yy
			display inline-block
			height 280px
			width 24%
			a
				width 200px
				height 270px
				display block
				text-decoration none
				color #000
				background #fff
				overflow hidden
				margin 5px auto
				border 1px solid #848484
				.canpinginfo1box
					width 100%
					height 150px
					overflow hidden
					position relative
					.canpinginfo1box-image
						width 100%
						height 150px
						background url('../img/10.jpg') no-repeat
						background-size cover
						transition all 1000ms linear
				&>.canpinginfo1box:hover .canpinginfo1box-image
					 transform scale(1.05)
				.titltxt
					height 20px 
					width 95%
					font-family "微软雅黑"
					font-size 18px
					font-weight blod
					line-height 20px
					margin 10px auto
					overflow hidden
					white-space nowrap
					text-overflow ellipsis
				.desc
					height 28px 
					width 95%
					font-family "微软雅黑"
					font-size 14px
					line-height 18px
					margin 0px auto
					overflow hidden
					white-space nowrap
					text-overflow ellipsis
				.price
					height 50px
					width 95%
					margin 0px auto
					position relative
					span
						display inline-block
					&>span:nth-of-type(1)
						height 20px
						font-size 18px
						font-weight bold
						line-height 20px
						color #FF3939
					&>span:nth-of-type(2)
						height 30px
						font-size 22px
						font-weight bold
						line-height 30px
						color #FF3939
					&>span:nth-of-type(3)
						height 20px
						font-size 16px
						font-weight bold
						line-height 20px
						color #FF3939
					.del-txt
						height 20px
						font-size 16px
						font-weight bold
						line-height 20px
						color #666666
						display inline-block
						position absolute
						left 0px
						top 25px
					.pr-btn
						text-align center
						width 70px
						height 40px
						line-height 40px
						display inline-block
						background #FF3939
						border-radius 5px
						font-family "微软雅黑"
						font-size 18px
						font-weight blod
						color #fff
						position absolute
						right 5px
						top 5px
						&:hover
							background #D82739
							color #FFE66C
			&>a:hover
				border 1px solid #FF8442
	.last-line
		width 100%
		height 1px
		border 1px solid #000
		background #000
		margin-top 50px
		position relative
		.more
			width 130px
			height 35px
			background #412D6D
			font-size 20px
			color #fff
			line-height 35px
			text-align center
			border-radius 35px
			position absolute
			top -18px
			left calc(50% - 75px)
#titl2
	&>.titlImage1
		background-image url('../img/tit_08.jpg')
#titl3
	&>.titl-menu
		height 70px
		border-radius 0px
		background-color #E2B800
		.mm
			.go-group
				background-color #F7E16E
				color #9B800B
				border-color  #9B800B
			.free
				background-color #F7E16E
				color #9B800B
				border-color  #9B800B
			.select-color
				background-color #9B800B
				color #F7E16E
			&>div:not(.select-color):hover
				background-color #9B800B
				color #F7E16E
	&>.titlImage1
		background-image url('../img/tit_04.jpg')
	&+div
		background-color #E2B800
		padding-top 10px
		padding-bottom 40px
#box2
	background-color #6633DA
	width 100%
	overflow hidden
	.vip
		width 100%
		margin-top 60px
		.vipNav
			width 100%
			height 190px
			background url('../img/freedom_hd.jpg')
		.vipmiddle
			width 100%
			height 100px
			background #4B1DB4
			.vipmiddle-menu
				width 96%
				height 100px
				background #4574E8
				border-radius 10px
				margin 0px auto
				display flex
				justify-content space-between  
				.vipmenu-left
					height 100px
					width 50%
					border-right 3px dashed #6C36DE
					position relative
				.vipmenu-right
					width 50%
					height 100px
					position relative
					.vipspan5
						display inline-block
						font-size 20px
						font-family "微软雅黑"
						font-weight bold
						color #ED522C
				.vipspan1
					display inline-block
					height 70px
					line-height 70px
					font-size 70px
					font-family "微软雅黑"
					font-weight bold
					color #fff
					margin-top 15px
					margin-left 20px
				.vipspan2
					display inline-block
					height 28px
					line-height 28px
					font-size 28px
					font-family "微软雅黑"
					font-weight bold
					color #fff
					position absolute
					top 15px
					left 70px
				.vipspan3
					display inline-block
					height 40px
					line-height 40px
					font-size 40px
					font-family "微软雅黑"
					font-weight bold
					color #F9DB00
					position absolute
					top 45px
					left 70px
				.vipbtn
					display inline-block
					height 70px
					width 70px
					background-color #F9DB00
					border-radius 5px
					position absolute
					top 15px
					right 18px
					span
						display inline-block
						font-size 20px
						font-family "微软雅黑"
						font-weight bold
						color #ED522C
					&>.vipspan4
						width 40px
						margin-top 9px
						margin-left 6px
					&>span:last-child
						position absolute
						top 23px
						right 4px
						
					
		.vipbottom
			height 200px
			background-image url('../img/freedom_ft.jpg')
			overflow hidden
			p
				margin-top 22px
				text-align center
				color #FFEE00
				a
					color #4CDCF3
#box2
	#mbox4
		background-color rgba(0, 0, 0, 0)
		&>#titl1>.titl-menu
			height 70px
			border-radius 0px
			background-color #F3A35E
			.mm
				.go-group
					background-color #FEC27C
					color #E76026
					border-color  #E76026
				.free
					background-color #FEC27C
					color #E76026
					border-color  #E76026
				.select-color
					background-color #E76026
					color #F3E513
				&>div:not(.select-color):hover
					background-color #E76026
					color #F3E513
		&>#titl1>.titlImage1
			background-image url('../img/tit_06.jpg')
		&>#titl1+.canping-info
			background-color #F3A35E
			padding-bottom 40px
	#mbox5
		background-color rgba(0, 0, 0, 0)
		&>#titl2>.titl-menu
			height 70px
			border-radius 0px
			background-color #4677CE
			&>div
				height 50px
				margin-top 10px
			.go-group
				background-color #FEC27C
				color #E76026
				border-color  #E76026
			.free
				background-color #FEC27C
				color #E76026
				border-color  #E76026
			.select-color
				background-color #E76026
				color #F3E513
			&>div:not(.select-color):hover
				background-color #E76026
				color #F3E513
		&>#titl2>.titlImage1
			background-image url('../img/tit_09.jpg')
		&>#titl2+.canping-info
			background-color #4677CE
			padding-bottom 40px
	#mbox6
		background-color rgba(0, 0, 0, 0)
		&>#titl3>.titl-menu
			height 70px
			border-radius 0px
			background-color #4677CE
			.mm
				height 50px
				display flex
				justify-content center
				align-items center
				&>div
					width 32%
					height 50px
				.visa
					color #13459B
					border 1px solid #13459B
					border-radius 5px 0px 0px 5px
					border-right transparent
					background-color #7BBDF7
				.wifi
					color #13459B
					border 1px solid #13459B
					background-color #7BBDF7
				.car
					color #13459B
					border-radius 0px 5px 5px 0px
					border 1px solid #13459B
					border-left transparent
					background-color #7BBDF7
				.visa-color
					background-color #13459B
					color #F4E513
				&>div:not(.select-color):hover
					background-color #13459B
					color #F4E513
		&>#titl3>.titlImage1
			background-image url('../img/tit_05.jpg')
		&>#titl3+.canping-info
			background-color #4677CE
			padding-bottom 40px
			
#boxshow
	position absolute
	top 0px
	left 0px
	width 100%
	height 100%
	background-color rgba(91,91,91,0.4)
	display none
	text-align center
	img
		height 100px
		width 100px
		margin-top 25px
		
		
					
					
			
		
		

		

		
				
		
	
 				
			
 				
		
		
		